@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #3C4048;
    --cor-secundaria: #00ABB3;
    --cor-terciaria: #B2B2B2;
    --cor-hover: #EAEAEA;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    
    /* padding-top: 65px;
    padding-right: 80px;
    padding-bottom: 141px;
    padding-left: 360px; */
}

.cabecalho_menu{
    display: flex;
    gap: 0px 80px;
}


.navestilizar{
    color:var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    
}


.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 482px; */
    gap: 40px;
}


.titulo-destaque{
    color: var(--cor-terciaria);
}


.fonteh1{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.fonteh2{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}


.fontep{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.estilizar{
    /* background-color: #22D4FD; */
    justify-content: center;
    display: flex;
    text-align: center;
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    gap: 16px;
    

}

.estilizar:hover{
    background-color: var(--cor-hover);
}

.imagem{
    width: 50%;
}


.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.linkcurriculo{
    text-decoration: none;
}


.pdestaque{
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 8%;
    }

    .cabecalho_menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo{
        width: auto;
    }

}