@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    width: 615px;
    height: 482px;
    gap: 40px;
}


.fonteh1{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.fonteh2{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}


.fontep{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.estilizar{
    /* background-color: #22D4FD; */
    justify-content: center;
    display: flex;
    text-align: center;
    width: 378px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    border: 2px solid #22D4FD;
    gap: 16px;
    

}

.estilizar:hover{
    background-color: #272727;
}


.rodape{

}